# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Built application files
dist/

# dotenv environment variables file
.env

# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
